<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center enter_section" id="top-bar">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="image" class="mx-auto" class="img-fluid">
      <img src="/img/veggieburgercopy.png" alt="veggie burger image" />
      <margin-top=25px>
        </margin-top>
    </div>
  </div>
</div>
{{!-- <div class="row">
</div>
</div>
</div> --}}
{{!-- container where entries appear alongside a button then move to the right side as readonly  --}}
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" class="task">
      {{#each burgers}}
      {{#unless this.devoured}}
      {{!-- this div contains the burger name input in the form at the bottom of screen --}}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
        <h5>{{this.name}}</h5>
      </div>
      {{!-- this div contains the devour button with PUT method --}}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
        <form class="button-size">
          {{!-- <form method="POST" action="/burgers/update?_method=PUT" class="button-size"> --}}
          <input type="hidden" name="burger_id" type="text" value={{this.id}}>
          <button type="button" class="btn btn-dark devoured change-devoured" data-id={{this.id}}
            newdevoured={{this.devoured}}>DA-vour</button>
        </form>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <br>
    {{!-- this div holds code to ensure the text and buttons don't disappear but move to another side of the page after the devour botton is pressed --}}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left" class="task">
      <h4>DA-voured</h4>
      <ul style="list-style-type: none;">
        {{#each burgers}}
        {{#if this.devoured}}
        <li>
          {{this.name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<hr>
{{!-- form to enter new burgers --}}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center enter_section">
      <form>
        <input type="text" name="name" class="form-control" value="" id="burgerName">
        <br>
        <button type="success" class="btn btn-success submit" id="submit">SUBMIT :D</button>
        <h6>Enter a burger to DA-vour and click submit!</h6>
      </form>
    </div>
  </div>
</div>
<br>