<div class="container">
  <div class="row">
    {{!-- <div class="col-xs-12 text-center enter_section" id="top-bar"> --}}
      <h1>DEVOUR all the BURGERS!</h1>
    {{!-- </div> --}}
  </div>
</div>
{{!-- container where entries appear alongside a button  --}}
<div class="container">
  <div class="row">
    <div id="image" class="mx-auto" class="img-fluid">
      <img src="/img/veggieburger.png" alt="veggie burger image" />
    </div>
  </div>
</div>
{{!-- container where entries appear alongside a button then move to the right side as readonly  --}}
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" class="task">
      {{#each burgers}}
      {{#unless this.devoured}}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
        <h4>{{this.id}}. {{this.name}}</h4>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
        <form  class="button-size">
          <input type="hidden" name="burger_id" type="text" value={{this.id}}>
          <button type="submit" class="btn btn-success change-devoured" id ={{this.id}} newdevoured= {{this.devoured}}>Devour</button>
        </form>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <br>
    {{!-- this div holds code to ensure the text and buttons don't disappear but move to another side of the page after the devour botton is pressed --}}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" class="task">
      {{#each burgers}}
      {{#if this.devoured}}
      <input class="form-control" type="text" placeholder="{{this.id}}. {{this.name}}" readonly>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>
<hr>
{{!-- form to enter new burgers --}}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center enter_section">
      <form >
        <input type="text" name="burger_name" class="form-control" value="" id="burgerName">
        <button type="submit" class="btn btn-primary" id="submit">Submit :D</button>
        <h6>Enter a burger name you want to devour and click submit!</h6>
      </form>
    </div>
  </div>
</div>